/* Exo 01 */

section {
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

section:first-child>h4 {
    color: blue;
}

/* Exo 02 */

section:nth-child(2) {
    border-bottom: 5px solid red;
}

/* Exo 03 */

section:nth-child(3)>h3,section:nth-child(3)>ul>li {
    color: red;
}

/* Exo 04 */

section>ul>li>a {
    font-size: 25px;
}

/* Exo 05 */

h3+span {
    color: blue;
}

/* Exo 06 */

img {
    border:1px solid black;
    border-radius: 50%;
}

/* Exo 07 */

section:last-of-type>p:hover {
    color: green;
}